
.accordion-button::after {
  filter: brightness(0) invert(1); 
}
.accordion-button.collapsed::after {
  transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
  background-image: var(--bs-accordion-btn-icon); 
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0,0,0,.125); 
}

.accordion-button:not(.collapsed) {
    color: inherit; 
    background-color: transparent; 
    box-shadow: none !important;
}