
.custom-nav-dropdown.dropdown-toggle::after,
.custom-nav-dropdown .dropdown-toggle::after {
    display: none !important;
}
#buy-nav-dropdown {
    color: white !important;
}
.nav-item.show > .nav-link.custom-nav-dropdown,
.custom-nav-dropdown:hover {
    color: white !important;
}

.dropdown-menu {
    border-radius: 0 !important;
    border: none !important;
    border-top: 1px solid #ddd !important; 
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    margin-top: 0 !important;
    top: 90%;
}

.custom-nav-dropdown .dropdown-menu {
    margin-top: 20px !important; 
    display: block !important; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.custom-nav-dropdown.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
}